<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--我们可以将这个bean理解为我们的javaBean，
        其中两个property标签即表示给User类中的name和age属性赋值。
        这样装配的方式是
            1.先通过无参构造函数创建对象
            2.通过setter方法设置类成员变量的值
    -->
    <bean id="user" class="com.sumuxi.model.User">
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
    </bean>
</beans>